<div class="container">
    <div class="section">
      <div class="section-title">
        <h2>Sản phẩm theo hãng</h2>
        <a routerLink="/category/1e4de469-0280-11f0-8579-0242ac110002">Xem tất cả <i class="fas fa-angle-right"></i></a>
      </div>
      <div class="brand-container">
        <div class="brand-logo">
          <div class="brand-item" *ngFor="let brand of brands">
            <a [routerLink]="brand.link">
              <img [src]="brand.imageUrl" [alt]="brand.name">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>