<router-outlet>


<!-- 
<div class="row">
    <div class="col-3">{{name}}</div>
    <div class="col-3">{{name}}</div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="name" />
    </div>

    <div class="col-3">
        <input type="text" class="form-control" [value]="option">
    </div>

    <div class="col-3">
        <select [(ngModel)]="option">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div> -->

<nav>

</nav>
<router-outlet></router-outlet>

<!-- <div class="card flex justify-content-center">
    <p-toast />
    <p-fileUpload 
        name="demo[]" 
        url="https://www.primefaces.org/cdn/api/upload.php" 
        (onUpload)="onUpload($event)" 
        [multiple]="true" 
        accept="image/*" 
        maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                    </li>
                </ul>
            </ng-template>
    </p-fileUpload>
</div>

<div class="card flex justify-content-center">
    <p-toast />
    <p-button (onClick)="show()" label="Show" />
</div> -->