<div class="card">
    <p-toast></p-toast>
    <p-toolbar class="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button
                severity="success"
                label="Thêm mới"
                icon="pi pi-plus"
                class="mr-2"
                (click)="openNew()">
            </p-button>
            <p-button
                severity="danger"
                label="Xóa"
                icon="pi pi-trash"
                (click)="deleteSelectedCategories()"
                [disabled]="!selectedCategories || !selectedCategories.length">
            </p-button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="categories || []"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name']"
        [(selection)]="selectedCategories"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} mục"
        [showCurrentPageReport]="true">
    
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter" />
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">
                    Tên Thuộc Tính
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>
                    id
                </th>
                <th>Hành động</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>
                    <p-tableCheckbox [value]="category"></p-tableCheckbox>
                </td>
                <td>{{ category.name }}</td>
                <td>{{ category.id }}</td>
                <td>
                    <div class="flex">
                        <p-button 
                            icon="pi pi-pencil" 
                            [rounded]="true" 
                            [text]="true" 
                            severity="success"
                            (click)="editCategory(category)" 
                            class="mr-2">
                        </p-button>
                        <p-button 
                            icon="pi pi-trash" 
                            [rounded]="true" 
                            [text]="true" 
                            severity="danger"
                            (click)="deleteCategory(category)">
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>


    </p-table>

    <p-dialog
    [(visible)]="categoryDialog"
    [style]="{ width: '450px' }"
    header="Chi tiết Danh mục" [modal]="true"
    class="p-fluid">

    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Tên Danh mục</label>
            <input
                type="text"
                pInputText
                id="name"
                [(ngModel)]="category.name"
                required
                autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted && !category.name}">
            <small class="p-error" *ngIf="submitted && !category.name">
                Tên không được để trống.
            </small>
        </div>

        <div class="field">
            <label for="parentCategory">Danh mục cha</label>
            <p-dropdown
                id="parentCategory"
                [options]="parentCategoryOptions"
                [(ngModel)]="category.parentId"
                placeholder="Chọn danh mục cha (Để trống nếu là cấp 1)"
                [showClear]="true"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                emptyFilterMessage="Không tìm thấy danh mục"
                appendTo="body"  #parentDropdown>
            </p-dropdown>
             </div>
        </ng-template>

    <ng-template pTemplate="footer">
        <p-button
            label="Hủy"
            icon="pi pi-times"
            (click)="hideDialog()"
            styleClass="p-button-text">
        </p-button>
        <p-button
            label="Lưu"
            icon="pi pi-check"
            (click)="saveCategory()"
            [disabled]="submitted && !category.name"> </p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
