<p-card>
  <ng-template pTemplate="title">
  Bảng thông số
  </ng-template>
  <hr>
    <!-- Infor Product -->
  <ng-template pTemplate="content">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Name</label>
        <input type="text" id="name" pInputText [(ngModel)]="product.name" />
      </div>

      <div class="p-field">
        <label for="price">Price</label>
        <input type="text" id="price" pInputText [(ngModel)]="product.price" />
      </div>

      <div class="p-field">
        <label for="quantity">Quantity</label>
        <input type="text" id="quantity" pInputText [(ngModel)]="product.quantity" />
      </div>

      <div class="p-field">
        <label for="brand">Brand</label>
        <input type="text" id="brand" pInputText [(ngModel)]="product.brand" />
      </div>

      <div class="p-field">
        <label for="category">Category</label>
        <input type="text" id="category" pInputText [(ngModel)]="product.category" />
      </div>

      <div class="p-field">
        <label for="coupon">Coupon</label>
        <input type="text" id="coupon" pInputText [(ngModel)]="product.coupon" />
      </div>

      <div class="p-field">
        <label for="description">Description</label>
        <app-editor [(ngModel)]="data"></app-editor>
      </div>
    </div>

    <!-- Upload Image Product -->

    <input type="file" name="files" id="files" multiple (change)="onFileChange($event)">
    <app-dynamic-product></app-dynamic-product> 
    <p-button label="Submit" (onClick)="submitClicked()"></p-button> 

 
  </ng-template>

</p-card>
