<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script> -->

</head>
<body>
    <!-- <div class="main-container">
        <div class="editor-container editor-container_classic-editor" #editorContainerElement>
            <div class="editor-container__editor">
                <div #editorElement>
                    <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" />
                </div>
            </div>
        </div>
    </div> -->

    <router-outlet />
    <!-- <h1>App Component</h1> -->
</body>
</html>

