<div class="row">
    <div class="col-12 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="changeTab('role')">role</button>
            <button type="button" class="btn btn-primary" (click)="changeTab('designation')">designation</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="field == 'role'">
        <app-role></app-role>
    </div>
    <div class="col-12" *ngIf="field == 'designation'">
        <app-designation></app-designation>
    </div>
</div>

<app-dynamic-product
[isUpdate]="true"
[productId]="'8e748af3-39cd-4e6a-add6-19e24464d735'"
></app-dynamic-product>