<app-header></app-header>
<div class="main">
  <div class="container mx-auto">
    <div class="grid">
      <!-- Phần bộ lọc bên trái -->
      <div class="col-12 md:col-3 lg:col-3 filter-column">
        <div class="filter-container">
          <!-- Sử dụng FilterBoxComponent với mode="product_line" -->
          <app-filter-box 
            [categoryId]="laptopCategoryId" 
            mode="product_line">
          </app-filter-box>
        </div>
      </div>
      
      <!-- Phần danh sách sản phẩm bên phải -->
      <div class="col-12 md:col-9 lg:col-9 products-column">
        <p-dataView #dv [value]="products" [layout]="'grid'" [rows]="24" [paginator]="true">
          <ng-template let-product pTemplate="grid">
            <div class="grid products-grid">
              <div class="col-12 sm:col-6 md:col-4 lg:col-3 p-2" *ngFor="let product of products">
                <app-laptop-item 
                  [product]="product" 
                  [isCompared]="isCompared(product)"
                  (addToCompare)="addToListCompare($event)">
                </app-laptop-item>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</div>
<app-compare *ngIf="isVisibleCompare" [listCompare]="listCompare"></app-compare>
<app-compare-button *ngIf="isVisibleCompareLess"></app-compare-button>